@charset "utf-8";
/* setting */
.bga-1 { background:#090}
.bga-2 { background:#0CC}
.bga-3 { background:#C90}
.bga-4 { background:#963}
.bga-5 { background:#FC0}
.bga-6 { background:#F99}
.bga-7 { background:#66F}
.bga-8 { background:#36F}
.W1004{width:100%;margin:0 auto;}
/* main */
.imgWrap, .bodyWrap{ position:absolute; left:0; top:0; width:100%; height:100%}
.imgWrap img.imgw { display:block; width:100%; height:100%}
.topnav { height:55px; background:url(../default/images/public/TopNav.png) repeat-x; width:100%;}

.logow { height:48px;  width:100%;  position:absolute; }
.logo { background:url(../default/images/public/logo.png) left top  no-repeat; width:337px; position:absolute; top:0;  margin-left:30px;}

.toptim { height:100%; margin:0 auto; }
.toptima1 { float:left; margin-left:360px;margin-top:10px;display:inline-block;height:26px;font:14px/26px 'Microsoft Yahei';color:#66CDFF;}
.toptima3{ float:left;  color:#fff; margin-left:38px; margin-top:10px;display:inline-block;height:30px;font:18px/30px 'Microsoft Yahei';}
.toptima2{ float:left;  color:#fff; margin-left:10px; margin-top:8px;display:inline-block;font:16px/30px 'Microsoft Yahei';background-image: url(../default/images/public/TopNav2.png);background-repeat: no-repeat;height: 30px;width: 235px;text-align: center;}
.toptima2r {margin-right:30px;font:16px/30px 'Microsoft Yahei';}
.topinput{height:20px;color:#008CD3;border: 1px;font:14px/20px 'Microsoft Yahei'; margin-top:3px;}

.footWarp {width:98%;background:left bottom no-repeat;padding-left:6px;bottom:0;z-index:1;position:absolute;margin:0px 10px 12px 10px;}
.lv1-r { background:right top no-repeat; padding-right:6px; cursor:pointer; }
.footWarp, .lv1-r { background-image:url(../default/images/public/foot_bg.png); height:32px; line-height:32px;}
.i_reset { display:block; font-style:normal; font-weight:normal}

.tim { height:100%;  margin:0 auto; }
.tima1 { float:left; line-height:32px; color:#fff;font-size:14px }
.tima2 { float:left;}
.tima2 a { color:#fff; line-height:32px; color:#fff;font-size:12px; display:inline-block;  padding:0 3px;  margin-left:8px; text-decoration:none; font-size:12px}
.tima2 a:hover { background:#b3e6f9; color:#0b68d2}
.tima3 {float:right;line-height:32px;color:#fff;font-size:14px; }
.tima4 {line-height:32px;color:#fff;font-size:14px;margin-right:10px;float:right;}

.ico{padding:0 5px 0 15px;margin:0 auto; height:83px;}
.ico span{display:inline-block;height:32px;font:14px/32px 'Microsoft Yahei';color:#adcce5;}
.ico span a{display:inline-block;height:32px;font:14px/32px 'Microsoft Yahei';color:#adcce5;padding:0 14px;}
.ico span a:hover{color:#fff;text-decoration:underline;}
.ico span a.topLink01{padding-left:40px;background:url(../default/images/public/icon_01.png) no-repeat 15px -40px;}
.ico span a.topLink02{padding-left:28px;background:url(../default/images/public/icon_01.png) no-repeat 2px -86px;}
.ico span a.topLink03{padding-left:20px;background:url(../default/images/public/icon_01.png) no-repeat 2px -132px;}
.ico span a.topLink04{padding-left:20px;background:url(../default/images/public/icon_01.png) no-repeat 2px -170px;}
.ico .topR{padding-left:25px;display:inline-block;height:32px;font:14px/32px 'Microsoft Yahei';color:#adcce5;background:url(../default/images/public/icon_01.png) no-repeat 0 5px;}

.showLayer { font:14px 'Microsoft Yahei';color:#FFF;position:absolute; left:50%; margin-left:-450px; top:50%; margin-top:-230px; overflow:hidden; z-index:50}

/* right */
.ithe {width:480px;float: right;margin-right: 12px;}
.ithems {width:480px;height:176px;float:left;margin:0px 0px;margin-bottom:5px;_margin-bottom:5px;_display:inline;
background-image: url(../default/images/public/itdata.png);	}
.itHead {line-height: 36px;font:16px 'Microsoft Yahei';color: #FFF;text-indent: 12px;text-decoration: none;list-style-type:none;margin-top:5px;}
.itHead a{color: #FFF;float: right; margin-top:5px;margin-right: 8px;background-image: url(../default/images/public/cross.png) !important;background-repeat: no-repeat;height: 12px;width:12px;}
.itdata {height:120px;line-height: 15px;font:14px 'Microsoft Yahei';padding-top: 5px;}
.itdata li{background-image: none !important;padding: 10px 0 4px 12px; color:#FFF;	}
.ico_l{background-image: url(../default/images/public/ico_l.png) !important;background-repeat: no-repeat;height: 9px;width: 6px;}
.ico_r{background-image: url(../default/images/public/ico_r.png) !important;background-repeat: no-repeat;height: 9px;width: 6px;}
.itdata span{float: right;margin-right: 20px;color: #10ACE0;}
.itdata a { text-decoration:none; color:#000;}
.ithems_a {float:right;_display:inline;margin-top: 5px;}
.ithems_a a{float:left;_display:inline;text-align: center;margin-right:10px;}
.cx_btn{border:none;width:66px;height:26px;line-height:26px;color:#fff;background:url(../default/images/public/btn_01.png) no-repeat 0 0;cursor:pointer;margin-top: 10px; margin-left:10px;}




/* 框架 */
.table_tab2{height:22px;font:14px/22px 'Microsoft Yahei';text-align:left;color:#FFF; padding:8px; margin-top:8px;text-indent: 10px;}
.table_tab2 table th{background-color: #7DDBFF;font-weight: normal;color:#000;text-align:left;}
.table_tab2 table td {color:#FFF;}
.table_tab table th{height:34px;font:12px/34px 'Microsoft Yahei';color:#000;background-color: #7DDBFF;text-align:center;border-bottom:none;border-bottom:solid 1px #b6cad2; }
.table_tab table th div{}
.table_tab table th div.no_back{background:none;}
.table_tab{clear:both;padding:8px; margin-top:8px;}
.table_tab table{width:100%;font-size:12px;border-collapse:collapse;border:1px solid #CBCBCB; }
.table_tab table td{color:#666;font-family:'Simsun';height:28px;line-height:28px;text-align:center;border-right:1px solid #ddd;}
.table_tab table td.border_r{border-right:1px solid #CBCBCB;}
.table_tab table td.text_l{text-align:left;padding-left:10px;}
.table_tab table tr.odd  {background-color: #f2f2f2;}  
.table_tab table tr.even {background-color: #f8f8f8;}
.table_tab table tr.highlight{background-color: #DDF5FF;}
.table_tab table td a{width:36px;height:20px;line-height:20px;text-decoration:underline;text-align:center;color:#0075bf;}
.table_tab table td a:hover{text-decoration:none;}
.table_tab table td a.view{color:#0075bf;display:inline-block;}
.table_tab table td a.view:hover{color:#fff;background:url(../default/images/bg/icon_01.gif) no-repeat 0 0;}
.table_tab table td a.modify{color:#0075bf;display:inline-block;}
.table_tab table td a.modify:hover{color:#fff;background:url(../default/images/bg/icon_01.gif) no-repeat 0 0;}
.table_tab table td a.del{color:#0075bf;display:inline-block;}
.table_tab table td a.del:hover{color:#fff;background:url(../default/images/bg/icon_01.gif) no-repeat 0 0;}





/* tj */
.tj { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: #EBF0F4; }
.tj {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	font-family: "Microsoft Yahei", Simsun, Tahoma, Geneva, sans-serif;
	text-decoration: none;
	padding-top: 30px;
	padding-bottom: 30px;
}
.tj .font-20 {
	height:50px;
	font-size: 22px;
	color: #000;
	font-family: "Microsoft Yahei", Simsun, Tahoma, Geneva, sans-serif;

}
.tj .font-20 span{	
    margin-left: 25px;
	margin-right: 25px;	
	}
.tj .Red{
	font-size: 32px;
	color: #FF0000;
	font-family: "Microsoft Yahei", Simsun, Tahoma, Geneva, sans-serif;
}
.tj .Blue{
	font-size: 32px;
	color: #10ACE0;
    font-family: "Microsoft Yahei", Simsun, Tahoma, Geneva, sans-serif;
}
.tj .Green{
	font-size: 32px;
	color: #A0BF2D;
 font-family: "Microsoft Yahei", Simsun, Tahoma, Geneva, sans-serif;
}
.tj .Orange{
	font-size: 32px;
	color: #FF6500;
	font-family: "Microsoft Yahei", Simsun, Tahoma, Geneva, sans-serif;
}

.tj .right{
	float: right;
}
.tj .xian{
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #484848;
}
.tj .t-left{
	float: left;
	height: 200px;
	width: 450px;
	text-align: center;
	margin-top:30px;
	
}
.tj .t-Right{
	float: left;
	height: 200px;
	width: 550px;
	text-align: center;
	margin-top:30px;
}

.tj .ithems1 {
	width:280px;
	height:220px;
	float:left;
	margin:30px 25px;
	margin-bottom:30px;
	_margin-bottom:30px;
	_display:inline;
	border: 1px solid #D9E2EA;
	font-family: "Microsoft Yahei", Simsun, Tahoma, Geneva, sans-serif;
}
.tj .itHead1 {
	line-height: 45px;
	font-size: 18px;
	color: #000;
	background-color: #00A4E0;
	text-indent: 18px;
	text-decoration: none;
	font-family: "Microsoft Yahei", Simsun, Tahoma, Geneva, sans-serif;
}
.tj .itHead1 span{
	color: #F2E400;
	margin-left: 25px;
	background-color: #00A4E0;
	font-size: 18px;
	font-family: "Microsoft Yahei", Simsun, Tahoma, Geneva, sans-serif;

}
.tj .itdata1 {
	line-height: 26px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 5px;
	font-family: "Microsoft Yahei", Simsun, Tahoma, Geneva, sans-serif;
}
.tj .itdata1 li{
	line-height: 26px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 5px;
	font-family: "Microsoft Yahei", Simsun, Tahoma, Geneva, sans-serif;
}
.tj .itdata1 span{
	line-height: 26px;
	font-size: 16px;
	float: right;
	margin-right: 25px;
	color: #10ACE0;
	font-family: "Microsoft Yahei", Simsun, Tahoma, Geneva, sans-serif;
}
.tj .itdata1 a { text-decoration:none; color:#000;}